html,
body {
  padding-left: 5em;
  padding-top: 5em;
  font-family: 'Inter', sans-serif;
}


a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(54, 54, 54);
  background-color: transparent;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "Inter";
  font-weight: 400;
  color: rgb(51, 51, 51);
	margin: 1em 0em; /*Change the first value to change the y-axis margin*/
  padding: 2% 0;
}

h4 li {
  display: inline-block;
  margin-right: 10px;
	font-size: 1em;
}

h5 {
  font-family: "Inter";
  font-weight: 500;
  margin: 1em 2em;
  color: rgb(58, 58, 58);
}

h2 {
  font-family: "Inter";
  font-weight: 650;
	margin: 1em 0em; /*Change the first value to change the y-axis margin*/
  margin-bottom: -50px;
  padding: 2% 0;
  
}

h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3em;
	margin: 1em 0em; /*Change the first value to change the y-axis margin*/
  margin-bottom: -50px;
  padding: 3% 0;
  
}

h4 {
  font-family: "Inter";
  font-weight: 500;
	margin: 0.5em 0em; /*Change the first value to change the y-axis margin*/

}


.main {
  margin: 0 10%;
}

#icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
mark { 
  background-color: rgb(198, 169, 214);
  color: rgb(211, 8, 8);
}

marktopgg { 
  background-color: rgb(174, 245, 179);
  color: rgb(211, 8, 8);
}


markalert { 
  background-color: rgb(253, 255, 146);
  color: rgb(0, 0, 0);
}

.container {
  flex-wrap: wrap;
  border-color: rgb(7, 7, 7);
  border-style: solid;
  border-radius: 10px;
  max-width: 70%;
  border-width: 1px;
  padding: 2rem;
  margin-bottom: 10px;

}

.container2 {
  flex-wrap: wrap;
  border-color: rgb(7, 7, 7);
  border-style: solid;
  border-radius: 15px;
  max-width: 70%;
  border-width: 1px;
  padding: 2rem;
  margin-bottom: 10px;
}

.container3 {
  flex-wrap: wrap;
  border-color: rgb(7, 7, 7);
  border-style: solid;
  border-radius: 15px;
  max-width: 70%;
  border-width: 1px;
  padding: 2rem;
  margin-bottom: 10px;
}

.blog-topgg-container {
  flex-wrap: wrap;
  border-color: rgb(7, 7, 7);
  border-style: solid;
  border-radius: 15px;
  max-width: 70%;
  border-width: 1px;
  padding: 2rem;
  margin-bottom: 10px;
}

.blogimg {
  display: flex;
  flex-wrap: wrap;
  padding: 1 4px;
  size: 1em;
}

img:hover{
  color: #424242; 
opacity: 1;
transform: translateZ(0) scale(1.15, 1.15);
}

.img{
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
filter: none !important;

}

.testimg img:hover{
transform: rotate(10deg);
}